@import url(http://fonts.googleapis.com/css?family=Open+Sans);

h1 {
	color: orange;
	text-align: center;
}

#header {
	border-bottom: 1px solid black;
}

body {
	color: #4C4C4C;
	font-family: "Open Sans";
}

#main {
	margin: auto;
	width: 70%;
}

nav {
	width: 100%;
}

ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	background-color: white;
	color: orange;
	display: inline;	
	float: left;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	width: 25%;
}

nav ul li #navbtn:hover {
	background-color: orange;
	color: white;
}

a {
	color: orange;
	font-size: 110%;
	text-decoration: none;
}

a:hover {
	background-color: orange;
	color: white;
}

.restListings {
	margin-top: 90px;
}

.row {
	display: block;
	margin: 2em;
	padding: 1em;
	width: 100%;
}

.rowElement {
	border: 1px solid black;
	display: inline;
	float: left;
	height: 200px;
	margin: 10px;
	width: 15%;
}