@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#header {
	border-bottom: 1px solid black;
}

#headerLink {

}

#main {
	margin: auto;
	width: 70%;
}

body {
	color: #4C4C4C;
	font-family: "Open Sans";
}

h1 {
	color: orange;
	text-align: center;
}

nav {
	width: 100%;
}

ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	background-color: white;
	color: orange;
	display: inline;	
	float: left;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	width: 25%;
}

#homeButton:hover, #findButton:hover, #mapButton:hover {
	background-color: orange;
	color: white;
}

a {
	color: orange;
	font-size: 110%;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: orange;
	color: white;
}

.restListings {
	margin-top: 90px;
}

.row {
	display: block;
	margin: 2em;
	padding: 1em;
	width: 100%;
}

.rowElement {
	border: 1px solid black;
	display: inline;
	float: left;
	height: 200px;
	margin: 10px;
	width: 15%;
}

.infoSectionChild {
	display: inline;
	float: left;
	width: 50%;
}

#footer {
	width: 70%;
	font-family: arial;
	color: #FFA500;
	margin-top: 800px;
	border-top: 1px solid #000;
	font-size: 15px;
margin-left: 150px;
text-align:center;}

#addReviewButton {
	float: right;
}

.reviewDiv {
	border: 1px solid black;
	margin: auto;
	margin-top: 1.5em;
	padding: 1em;
}